@{
    ViewData["Title"] = "Home Page";
}
<html>
<head> 
    <title>EPL Clubs</title>
    <meta charset="utf-8" />
    <meta name="author" content="Islam Mamilov" />
    <meta name="description" lang="en" content="Test"/>
    <meta name="keywods"
        content="football,EPL,english premier league,premier league,soccer,MU,MC,Tottenham,arsenal"/>
    <meta name="robots" content="all" />
</head>
<body>
<div class="nav-bar">
    
</div>
    <div class="team-container" style="overflow-x: auto;">
        <table>
            <tr>
                <td>
                   <div class="team-logo"> <img src="https://media.api-sports.io/football/teams/42.png"></div>
                    <p class="team-name">Arsenal</p>
                </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/66.png">
                    </div>
                    <p class="team-name">Aston Villa</p>
                </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/35.png">
                        </div>
                    <p class="team-name">Bournemouth</p>
                </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/55.png">
                        </div>
                    <p class="team-name">Brentford</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/51.png">
                        </div>
                        <p class="team-name">Brighton & Hove Albion</p>
                 </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/44.png">
                        </div>
                    <p class="team-name">Burnley</p>
                </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/49.png">
                        </div>
                    <p class="team-name">Chelsea</p>
                </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/52.png">
                        </div>
                    <p class="team-name">Crystal Palace</p>
                </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/45.png">
                        </div>
                    <p class="team-name">Everton</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/36.png">
                        </div>
                    <p class="team-name">Fulham</p>
                </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/40.png">
                        </div>
                    <p class="team-name">Liverpool</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://logoeps.com/wp-content/uploads/2013/09/luton-town-fc-vector-logo-200x200.png">
                        </div>
                    <p class="team-name">Luton Town</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/50.png">
                        </div>
                    <p class="team-name">Manchester City</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/33.png">
                        </div>
                    <p class="team-name">Manchester United</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/34.png">
                        </div>
                    <p class="team-name">Newcastle United</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/65.png">
                        </div>
                    <p class="team-name">Nottingham Forest</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/62.png">
                        </div>
                    <p class="team-name">Sheffield United</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/47.png">
                        </div>
                    <p class="team-name">Tottenham Hotspur</p>
                </td>


                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/48.png">
                        </div>
                    <p class="team-name">West Ham United</p>
                </td>

                <td>
                    <div class="team-logo">
                        <img src="https://media.api-sports.io/football/teams/39.png">
                        </div>
                    <p class="team-name">Wolverhampton Wanderers</p>
                </td>
            </tr>
        </table>>
    </div>
    

</body>

</html>