@{
    ViewData["Title"] = "Home Page";
}
<html>
<head> 
    <title>EPL Clubs</title>
    <meta charset="utf-8" />
    <meta name="author" content="Islam Mamilov" />
    <meta name="description" lang="en" content="Test"/>
    <meta name="keywods"
        content="football,EPL,english premier league,premier league,soccer,MU,MC,Tottenham,arsenal"/>
    <meta name="robots" content="all" />
</head>
<body>
<div class="nav-bar">
   
</div>
<div class="team-container" data-slick="{"infinite":false,"slidesToScroll":2,"variableWidth":true}"> 

    <button aria-label="Previous" type="button" class="slick-arrow slick-prev slick-disabled" aria-disabled="true" style="display: inline-block;"><i class="icon-arrow-long"></i></button>

        
    
        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/42.png" alt="Arsenal" height="50" > </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/66.png" alt="Aston Villa" height="50"> </a>

		<a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/44.png" alt="Burnley" height="50"> </a>
        
        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/35.png" alt="Bournemouth" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/55.png" alt="Brentford" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/51.png" alt="Brighton" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/49.png" alt="Chelsea" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/52.png" alt="Crystal Palace" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/45.png" alt="Everton" height="50" > </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/36.png" alt="Fulham" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/40.png" alt="Liverpool" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://i.pinimg.com/originals/ac/2b/f5/ac2bf526e0bb93f8712d63c7ad088c32.png" alt="Luton Town" height="50"> </a>
        
        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/50.png" alt="Manchester City" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/33.png" alt="Manchester United " height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/34.png" alt="Newcastle United" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/65.png" alt="Nottingham Forest" height="50"> </a>

		<a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/47.png" alt="Tottenham Hottspur" height="50"> </a>
        
        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/62.png" alt="Sheffield United" height="50"> </a>

		<a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/48.png" alt="West Ham United" height="50"> </a>

        <a target="_blank" href="https://premierleague.tv/category/teams/arsenal"> <img src="https://media.api-sports.io/football/teams/39.png" alt="Wolverhampton Wanderers" height="50"> </a>

        <button aria-label="Next" type="button" class="slick-arrow slick-next" style="" aria-disabled="false"><i class="icon-arrow-long icon-180deg"></i></button>
        
</div>
    

</body>

</html>